<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="All" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Completed Todos Tab -->
  <ion-tab title="Completed" icon-off="ion-checkmark-circled" icon-on="ion-checkmark-circled" href="#/tab/completed">
    <ion-nav-view name="tab-completed"></ion-nav-view>
  </ion-tab>

  <!-- Incomplete Todos Tab -->
  <ion-tab title="Incomplete" icon-off="ion-chatbubble-working" icon-on="ion-chatbubble-working" href="#/tab/incomplete">
    <ion-nav-view name="tab-incomplete"></ion-nav-view>
  </ion-tab>


</ion-tabs>
